NODE_PORT=5000

JWT_SECRET=nthi5s@v3

DEV02_MANAGER_EMAIL=zinmonthet@metateammyanmar.com
DEV02_MANAGER_NAME=ZinMonThet

TEAMS_WEBHOOK=https://metateammyanmar088.webhook.office.com/webhookb2/67191ca9-b809-4b2c-b430-113bf2b2cc81@30102b23-c817-43f8-b2de-e77962e3a3e0/IncomingWebhook/26179bc8780c49a69bde1438b401d8d4/1888a243-2b6b-499e-876e-38a1b8134f3d/V2LLdW04l0ZBLBP0ERaSX5iZMJ1kYRDb-bTrpLkC3qnJY1

EMAIL_USER=scm.spp.thanhtikeag@gmail.com
EMAIL_PASSWORD=chfpkrljzayygtof